
<div class="flex flex-col">
    <h1 class="font-extrabold text-center text-lg mb-3 h-">Add New Post</h1>
    <%= form_with model: @post, url: user_posts_create_path do |form| %>
    <div class="flex flex-col">
        <%= form.label :title, class: "font-bold" %>
        <%= form.text_field :title, class: "w-96" %>
    </div>
  
    <div class="flex flex-col my-2">
      <%= form.label :text, class: "font-bold" %> 
      <%= form.text_area :text, class: "h-80" %>
    </div>
  
    <button class="p-3 rounded-full bg-emerald-200">
      <%= form.submit %>
    </button>
  <% end %>
</div>
