<div>
  <h1></h1>
  <div class="flex flex-col justify-between gap-10 box-border h-fit w-full p-4 border-4">
    <div class="flex gap-10">
      <h1 class='font-bold' ><%= @post.title%> by <%= @post.author.name %></h1>
      <div class="flex self-end gap-1">
        <p>Comments:<%= @post.comments_counter %>,</p>
        <p>Likes: <%= @post.likes_counter%></p>
      </div>
    </div>
    <p><%= @post.text%></p>
  </div>
  <% if @post.comments.any? %>
  <div class="box-border h-fit w-full p-4 border-4">
    <% @post.comments.each do |comment| %>
    <div class="flex m-2">
      <p><%= comment.author.name %>:</p>
      <p><%= comment.text %></p>
    </div>
    <%end%>
  </div>
  <% end %>
  <div class="flex justify-between m-4">
    <%= button_to "Add Comment", user_post_comments_new_path(user_id: @post.author.id, post_id: @post.id), method:'get', class: "p-3 rounded-full bg-emerald-200 text-center" %>
    <%= button_to "Like Post", user_post_likes_path(user_id: @post.author.id, post_id: @post.id), method:'post', class: "p-3 rounded-full bg-emerald-200 text-center" %>
  </div>
</div>
